<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Django cloud</a>
        <i class="bi bi-list navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"></i>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Django cloud</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 align-items-lg-center pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="https://www.django-cloud.pminnovest.com/">In react</a>
                    </li>
                    {% include "includes/user_link.html" %}
                </ul>
                {% if not request.user.is_authenticated %}
                <div class="d-flex mt-3 mt-lg-0">
                    <a class="btn btn-sm btn-outline-light" href="{% url 'account:register' %}">
                        <i class="bi bi-person-fill"></i>
                        Sign up
                    </a>
                </div>
                <div class="d-flex mt-3 mt-lg-0 ms-0 ms-lg-2">
                    <a class="btn btn-sm btn-dark" href="{% url 'account:login' %}">
                        <i class="bi bi-lock-fill"></i>
                        Sign in
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>