{% extends "profile/base.html" %}
{% block profile %}
    <div class="card w-100 border-0 shadow">
        <div class="card-body">
            <h6 class="card-title fw-bold pb-4 border-bottom">Update your profile info</h6>
            <form method="post"
                  action="{% if action_url %}{{ action_url }}{% endif %}"
                  class="col-lg-6">
                {% csrf_token %}
                {% if next_url %}<input type="hidden" name="next" value="{{ next_url }}" />{% endif %}
                <br />
                {{ form.as_p }}
                <input type="text"
                       id="email"
                       class="form-control disabled"
                       value="{{ request.user.email }}"
                       disabled="disabled" />
                <small class="help-text text-muted">Cannot change email</small>
                <br />
                <button type="submit" class="btn btn-primary btn-sm my-3 px-3">Save</button>
            </form>
        </div>
    </div>
{% endblock profile %}
