<meta name="keywords"
      content="Peter Mwangi, Mwassini, @mwassini, @pminnovest, pmwassini, pminnovest, Kenya, Nairobi, Software Engineer, Python Developer, Database Administrator, Security Officer, Security Analyst">
<meta name="description"
      content="Portfolio of Peter Mwangi, an experienced IT professional with a strong background in software development, cybersecurity, and leadership.">
<meta name="author" content="Peter Mwangi">
<meta name="google-site-verification"
      content="QIQTlgr_wTJmVQ3hZAFJw09j5fSBzTjjPBix9VCvs3I" />
<meta name="robots" content="index, follow">
